@import url(font.css);

body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background-color: #eeeeee;
}

/*Global*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}



/*header */
.header_area .main-menu .navbar .navbar-brand{
    padding: 0 0 0 0;
}

.header_area .main-menu .navbar{
    padding: 1rem 5%;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 600 17px/2px "Roboto";
    text-transform: uppercase;
    padding: 1.7rem;
    color: "cmyk(0% 0% 0% 90%)";
}

.header_area .main-menu .navbar-nav .active a{
    background: linear-gradient(to right, #191919 0%, #666666 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: linear-gradient(to right, #191919 0%, #666666 100%);
    font: normal 900 19px/2px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/*banner*/
.site-banner .container .img-fluid{
    width: 60%;
    border-radius: 5%;
    filter: grayscale(100%);
}

h1{
    background: linear-gradient(to right, #191919 0%, #dddddd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 900;
    text-emphasis: inherit;
    margin: 0 auto 0 auto;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #eeeeee;
    border-width: 5px;
    width: 5%;
}

/* Showcase */