@import url(font.css);
@import url(partials/_global.css);

body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background-color: #eeeeee;
}

/*Global*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}



/*header */
.header_area .main-menu .navbar .navbar-brand{
    padding: 0 0 0 0;
}

.header_area .main-menu .navbar{
    padding: 1rem 5%;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 600 17px/2px "Roboto";
    text-transform: uppercase;
    padding: 1.7rem;
    color: "cmyk(0% 0% 0% 90%)";
}

.header_area .main-menu .navbar-nav .active a{
    background: linear-gradient(to right, #191919 0%, #666666 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: linear-gradient(to right, #191919 0%, #666666 100%);
    font: normal 900 19px/2px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}

/*end navigation*/

/*banner*/
.site-banner .container .img-fluid{
    width: 60%;
    border-radius: 5%;
    filter: grayscale(100%);
    padding: 7rem 0;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
    font-size: 2.5rem;
}

.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: linear-gradient(to right, #191919 0%, #dddddd 100%);
    display: inline-block;
    margin-left: 5%;
}

.site-main .site-banner .site-title h1{
    background: linear-gradient(to right, #191919 0%, #dddddd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 900 ;
    font-size: 4rem;
    text-emphasis: inherit;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 0%;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}



/* Showcase */