@import url(font.css);

body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background-color: #eeeeee;
}

/*Global*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}



/*header */
.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link{
    font-family: "Roboto", cursive;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: "cmyk(0% 0% 0% 90%)";
}

.header_area .main-menu .navbar-brand .active a{
    background: ;
}

h1{
    color: #00adb5;
    text-emphasis: inherit;
    margin: 0 auto 0 auto;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #eeeeee;
    border-width: 5px;
    width: 5%;
}

/* Showcase */